<div class="mt-5 pb-5">
<div class="bg">
  <img src="../../../assets/Images/M1P6_US-Blogp-designing-warehouse-layouts - ImageHeader.jpg">
  <div class="bg-text">
    <h1>Hi,</h1>
    <p>Welcome to Warehouse app!</p>
  </div>
</div>
</div>

<div class="title">
  <p>World leading warehouse app!</p>
</div>

<div class="text">
  <p>We provide you with great and easy managment system over your wearhouse goods,<br>simplicity and we also care about
    your privacy with extra security system</p>
    <li class="button">
      <a [routerLink]="['/getstarted']" class="nav-link" href="#">Get Started</a>
    </li>
</div>


<div class="container-fluid mb-0">
  <router-outlet></router-outlet>
</div>