<div class="bg">
  <img src="../../../assets/Images/M1P6_US-Blogp-designing-warehouse-layouts - ImageHeader.jpg">
  <div class="bg-text">
    <h1>Hi,</h1>
    <p>Welcome to Warehouse app!</p>
  </div>
</div>

<div class="title">
  <p>World leading warehouse app!</p>
</div>

<div class="text">
  <p>We provide you with great and easy managment system over your wearhouse goods,<br>simplicity and we also care about
    your privacy with extra security system</p>
  <p class="button"><a>Get Started</a></p>
</div>
<footer>
  <!--  <div class="logo">
               <img class="lock" src="../assets/Images/150110_-149922374-lock-logo-symbol-.jpg">
               <figcaption>Extra security</figcaption>
               <img class="forklift" src="../assets/Images/folklift.jpg">
               <figcaption>Easy managment</figcaption>
             </div>
              -->

  <div class="info">
    Ulica Ljudevita Posavskog br.8,VELIKA GORICA • 099-739-1519 • us@me.com
  </div>
</footer>


<div class="container-fluid mb-0">
  <router-outlet></router-outlet>
</div>