<header>
<nav class="nav">
  <div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a [routerLink]="['/']" class="nav-link" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/cities']" class="nav-link" href="#">City</a>
  </li>
  <!-- <li class="nav-item">
      <a [routerLink]="['/cities/1']" class="nav-link" href="#">City1</a>
    </li> -->
  <li class="nav-item">
    <a [routerLink]="['/warehouses']" class="nav-link" href="#">Warehouse</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/employees']" class="nav-link" href="#">Employee</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/goods']" class="nav-link" href="#">Goods</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/positions']" class="nav-link" href="#">Position</a>
  </li>
  <li class="nav-item dropdown ml-auto" *ngIf="user && user.email && user.email.length > 0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.email }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
</ul>
</div>
</nav>
</header>

<div class="mt-0 pb-0" style="min-height: 81vh; margin-left: 0;">
    <router-outlet></router-outlet>
  </div>


<footer>
    <div class="info">
      Ulica Ljudevita Posavskog br.8,VELIKA GORICA • 099-739-1519 • us@me.com
    </div>
  </footer>
  
  


