<div class="container">
        <div class="col-sm-12 mb-3">

            <button class="btn btn-outline-primary" (click)="onAdd()">Add <i class="fa fa-plus"></i></button>
        </div>
<div>
        <table class="table table-sm">

            <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">ExpirationDate</th>
                        <th scope="col">DateOfManufacture</th>
                        <th scope="col">MinimalAmount</th>
                        <th scope="col">CurrentAmount</th>
                        <th scope="col">UnitOfMeasure</th>
                        <th scope="col">Price</th>
                        <th scope="col">Warehouse</th>
                        <th scope="col">Actions</th>

                    </tr>
                    </thead>
              <tbody>    
        <tr *ngFor="let goods of goods">
            <td>{{ goods.name }}</td>
            <td>{{ goods.expirationDate | date: 'dd.MM.yyyy.' }}</td>
            <td>{{ goods.dateOfManufacture | date: 'dd.MM.yyyy.' }}</td>
            <td>{{ goods.minimalAmount }}</td>
            <td>{{ goods.currentAmount }}</td>
            <td>{{ goods.unitOfMeasure }}</td>
            <td>{{ goods.price }}</td>
            <td>{{ goods.warehouse.name }}</td>
            <td><button class="btn bg-light" (click)="onEdit(goods.id)"><i class="fa fa-edit"></i></button>
                 <button class="btn ml-3 bg-danger" (click)="onDelete(goods.id)"><i class="fa fa-trash"></i></button></td>

        </tbody>  
    </table>
</div>
</div>