footer{
    margin-bottom: o;
    width:100%;
 }

 footer div.info {
    background-color: rgba(62, 69, 81, 0.7);
}

.info{
    text-align: center;
    padding: 15px 15px;
    padding: 8px,15px;
    font-weight: 500;    
}