<div class="container mt-5 pb-5">
  <div class="table-responsive">
    <div class="col-sm-12 mb-3">

      <button class="btn btn-outline-primary" (click)="onAdd()">Add <i class="fa fa-plus"></i></button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Zip</th>
          <th scope="col" colspan="1">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let city of cities">
          <td>{{ city.name }}</td>
          <td>{{ city.zip }}</td>
          <td><button class="btn bg-light" (click)="onEdit(city.id)"><i class="fa fa-edit"></i></button>
          <button class="btn ml-3 bg-danger" (click)="onDelete(city.id)"><i class="fa fa-trash"></i></button></td>


        </tr>
      </tbody>
    </table>
  </div>
    <div class="row">
      <nav aria-label="Page navigation example col-sm-4">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
      <div class="col col-sm-8">
        <div class="btn-group float-right">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            25
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">25</a>
            <a class="dropdown-item" href="#">50</a>
            <a class="dropdown-item" href="#">100</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  